html{
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}
html,body
{
  /*  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;*/
    overflow-x: hidden;
}
.container{
width: 960px;
margin: 0 auto;
}

header{
  padding-top: 0.5rem;
height: 30rem;
background-size: cover;
background-image: url(../images/glasses-bg.png);
}
.heading-container{
  background-color: cadetblue;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
padding-left: 2rem;
color: white;
padding: 0.5rem;
}
.logo img{
  height: 1.5rem;
  margin-right: 1rem;
}
.menu{
  display: flex;
  align-items: center;
  padding: 1rem;
}
.mobile-menu{
  display: none;
}
.menu li{
display: inline;
color: white;
padding: 1rem;
}
.menu a{
  color: white;
}
.motto{
  height: 13rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.motto-inner{

}
.motto span{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
  background-color: white;
  text-transform: uppercase;
  position: relative;
    left: 2rem;
}
.products{
display: inline-flex;
justify-content: space-around;
width: 100%;
margin: 5rem auto;

}

.product{
display: flex;
flex-direction: column;
height: 5rem;
text-align: center;
width: 5rem;
}
.product img{
  object-fit: contain;
  height: inherit;
  width: 3.5rem;
}
#ruler{
  width: 5rem;
}
.texts-container{
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.text{
display: flex;
flex-direction: column;
width: 35%;

}
.text-heading{
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  /*padding: 0.5rem auto 0.5rem 1.25rem;*/
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.text-body{
margin-top: 1rem;
}
footer{
background-color: azure;
/*width:100%;*/
padding: 4rem 4rem;
font-size: 1rem;
}
.mobile-footer-logo{
display: none;
}

.footer-logo{
display: flex;
align-items: center;
}
.footer-logo img{
height: 1.2rem;
padding-right: 1rem;
}
@media only screen and (max-width:960px){
  .container{
    width: 100%;
  }
  .heading-container{
    margin: -0.5rem auto;
  }
  header{
  padding-top: 0.5rem;
  height: 22rem;
  background-size: cover;
  background-position-x: -11rem;
  }

  .motto{
    height: 8rem;

  }
  .motto-inner{

  }
  .motto span{
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    position: static;
    margin-right: 2rem;
    }

}
@media only screen and (max-width:650px) {
  .mobile-menu{
    display: block;
  }
  .menu{
    display: none;
  }

  .mobile-menu li{
  color: white;
  padding: 1rem;
  }
  .mobile-menu a{
    color: white;
  }

}
/* SMALL SCREENS*/
@media only screen and (max-width:470px){

  header{
  height: 17rem;
  background-position: 20%;
  }
  .company-name{
    display: none;
  }
  .products{
    flex-direction: column;
    align-items: center;
    margin: 3.77rem auto;
  }
  .product{
    padding: 1.54rem;
  }
  .motto span{
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.75rem 1rem;
  }
  .text{
    flex-direction: column;
    width: 100%;
    margin-bottom: 4rem;
  }
  .texts-container{
    display: flex;
    flex-direction: column;
  }
  .text-heading{
    width:100%;
  }
  .text-body{
    font-size: 0.77rem;
    padding: 0 1rem;
  }

  .motto{
    display: flex;
    justify-content:center;
    position: relative;
    top:6rem;
  }
  .motto-inner{
    background-color: white;
    padding: 1rem;
    width: 90%;

  }
  .motto span{
    font-size: 1rem;
    line-height: 1.2rem;
    }
    .footer-logo{
      display: none;
    }
    .mobile-footer-logo{
      display: flex;
      align-items: center;
    }
    .mobile-footer-logo img{
    height: 1.2rem;
    padding-right: 1rem;
    margin: 0 auto;
    }

}
